<html>
<head>

  <link href="static/main.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.1.1/js/bootstrap.min.js"></script>


  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" type="text/javascript"></script>
  <![endif]-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-touch.min.js"></script>
  <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

  <script type="text/javascript" src="static/js/jquery.bsAlerts.min.js"></script>

  <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="static/js/main.js" type="text/javascript"></script>


</head>


<body ng-app="StocksApp">

    <div class="container" ng-controller="SymbolController">

        <div align="center">
          <h1> Symbol Analyzer </h1>
          <h4> Testing historical reliablity of <b><u>candle stick patterns</u></b> to <b><u>analyze future market trends</u></b>.</h4>
          <h5>Built using
          <b>
              <a href="https://www.python.org/" target="_blank">python</a>,
              <a href="http://pandas.pydata.org/" target="_blank">pandas</a>,
              <a href="http://bottlepy.org/docs/dev/index.html" target="_blank">bottle</a>,
              <a href="http://www.gevent.org/" target="_blank">gevent</a>,</b>
              and <b><a href="http://www.celeryproject.org/" target="_blank">celery</a></b>
          </h5>
          <h5> Front end uses 
                <b><a href="https://angularjs.org/" target="_blank">Angular.JS</a></b> and
                <b><a href="http://canvasjs.com/" target="_blank">CanvasJS</a></b>
                <br />  ...but both of those will change soon.</h5>

          <h6> Author: John Curran</h6>
        </div>

        <div class="row">
          <div class="col-md-8">

            <table class="table table-striped table-condensed table-bordered" style="font-size: 10px">
              <caption><h5><b><u>Symbols with interesting patterns</b></u></h5></caption>
              <tr>
                <th>Date</th>
                <th>Symbols</th>
              </tr>
              %for data in top_picks.iteritems():
              <tr>
                  <td style="white-space: nowrap; width: 100px"> {{ data[0] }} </td>
                  % symbols = data[1].split(', ')
                  <td style="white-space: wrap;">
                  %for symbol in symbols:
                    <a ng-click="add_symbol('{{symbol}}')"> {{ symbol }}</a>
                  %end
                  </td>
               </tr>
               %end
            </table>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 well ">
                <div class="col-md-4">
                  <form class="form-inline" >
                      <input type="text" id="symbolsearch" class="input-" placeholder="Enter company name or symbol" ng-keyup="$event.keyCode == 13 ? add_search_symbol() : null">
                      <span class="help-inline hide"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> loading...</span>
                      <span class="help-inline hide label label-info"></span>
                      <span class="btn" ng-click="add_search_symbol()"><i class="fa fa-plus-circle"></i></span>
                      <br />
                      <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>
                  </form>
                </div>
            </div>


        </div>


        <div class="row">

            <div ng-repeat="stock in portfolio" ng-init="symbol = stock['symbol'] ">

                <div class="well col-md-12" id="[[ symbol ]]" style="padding-right: 10px">
                  <button type="button" class="close" aria-label="Close" ng-click="remove_symbol(  [[ symbol ]]  )">
                        <span aria-hidden="true">&times;</span>
                  </button>

                  <div class="row">
                      <div class="col-md-3">
                          <h3> <strong>[[ symbol ]]  -  $[[ stock['bid'] ]] </strong> </h3>
                          <br />
                          <table class="table table-stripped table-bordered table-condensed" style="font-size: 10px;">
                              <tr>
                                  <td>52 week high:  [[ stock['52 week high']  ]]</td>
                                  <td>Revenue: [[  stock['revenue']   ]] </td>
                              </tr>
                              <tr>
                                  <td>52 week low:  [[ stock['52 week low']  ]]</td>
                                  <td>Volume:  [[  stock['volume']  ]] </td>
                              </tr>
                              <tr>
                                  <td>50 day moving average: [[ stock['50 day moving average']  ]] </td>
                                  <td>Dividend Yield:  [[ stock['dividend yield']  ]] </td>
                              </tr>
                              <tr>
                                  <td>200 day moving average: [[ stock['200 day moving average']  ]] </td>
                                  <td>EBITDA: [[ stock['ebitda'] ]]</td>
                              </tr>
                              <tr>
                                  <td>Ask (realtime): [[ stock['ask (realtime)']  ]]</td>
                                  <td>Bid (realtime): [[  stock['bid (realtime)']  ]]</td>
                              </tr>
                              <tr>
                                  <td>Ask: [[ stock['ask']  ]]</td>
                                  <td>Bid: [[  stock['bid']  ]]</td>
                              </tr>
                          </table>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                          <div class="[[ symbol ]]_loader" align="center">
                            <br />
                            <i class="fa fa-refresh fa-spin fa-5x"></i> Loading chart
                          </div>
                          <div id="[[ symbol ]]_chart" style="height: 300px; width: 100%;"></div>
                      </div>
                  </div>

                  <div class="row stocks">
                        <br />
                        <div class="[[ symbol ]]_loader">
                            <br /> <i  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> Loading patterns
                        </div>

                        <div class="col-md-12" ng-if="pattern_data[symbol]">

                            <table class="table table-bordered table-condensed" style="font-size: 10px;" ng-if="pattern_data[ symbol ] ">
                                <tr>
                                   <th style="white-space:nowrap;" ng-repeat="data in  pattern_data[ symbol ] ['candle_history']">
                                          [[ data['Date'] ]]
                                    </th>
                                </tr>

                              <tr>
                                  <td ng-repeat=" data in pattern_data[ symbol ] ['candle_history'] "
                                       ng-init="candle_patterns = pattern_data[symbol]['candle_patterns'] ; accuracies = pattern_data[symbol]['historical_accuracy']">
                                        <strong style="white-space:nowrap;">( $[[ data['close'].toFixed(2) ]] )</strong>
                                        <ul ng-repeat="pattern_name in data['patterns'].split(', ')" style="margin:0;padding:0"
                                             ng-init="candle_pattern = candle_patterns[pattern_name] ; accuracy = accuracies[pattern_name] ">

                                            <li popover rel="popover" data-toggle="popover" data-trigger="hover"  data-html="true"
                                                ng-attr-id="[[ (symbol + data['Date'] + pattern_name).split(' ').join('').split('-').join('') ]]"
                                                data-content="Original content"
                                                data-original-title="Original title"
                                                ng-init="badges = accuracy_badges(accuracy) ">
                                                [[ pattern_name ]] <br />
                                                <span class="badge alert-success" ng-if="badges['green']"> [[ badges['green'] ]]</span>
                                                <span class="badge alert-danger" ng-if="badges['red']"> [[ badges['red'] ]]</span>
                                                <span class="badge alert-warning" ng-if="badges['yellow']"> [[ badges['yellow'] ]]</span>
                                                </li>

                                            <div class="popover" ng-attr-id="[[ (symbol + data['Date'] + pattern_name + '_popover').split(' ').join('').split('-').join('') ]]" role="tooltip">
                                                <div class="arrow"></div>
                                                <div class="popover-inner">
                                                    <h3 class="popover-title">[[ pattern_name ]]</h3>
                                                    <div class="popover-content">

                                                        <table class="table table-condensed">
                                                          <tr ng-if="candle_pattern['definition']">
                                                            <td style="width: 50px">Definition</td>
                                                            <td> [[  candle_pattern['definition']  ]]</td>
                                                          </tr>
                                                          <tr>
                                                            <td style="width: 50px">Formula</td>
                                                            <td>[[  candle_pattern['formula']  ]]</td>
                                                          </tr>
                                                        </table>

                                                        <table class="table table-condensed" style="font-size: 10px;">
                                                            <tr>
                                                                <th>Legend</th>
                                                                <th ng-repeat="num in pattern_data[ symbol ]['ANALYZE_RANGE'] ">[[  num  ]]</th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="alert" style="margin:0; padding:5px; height: 60px"><i class="fa fa-arrow-up fa-lg"></i><br /></div>
                                                                    <div class="alert" style="margin:0; padding:5px; height: 50px"><i class="fa fa-mail-reply fa-lg"></i><br /></div>
                                                                </td>
                                                                <td ng-repeat="num in pattern_data[ symbol ]['ANALYZE_RANGE']" style="white-space:nowrap;" >
                                                                   <div class="alert" ng-class="alertClass([[ accuracy ]], 'day_'+num+'_percentage_up', 'day_'+num+'_total')" style="margin:0; padding:5px">

                                                                    <div ng-if="accuracy['day_'+num+'_percentage_up'] != null">
                                                                        [[  ( accuracy['day_'+num+'_percentage_up']).toFixed(2)  ]]%
                                                                    </div>
                                                                    <br />
                                                                    ( [[ accuracy['day_'+num+'_num_up'] ]]  /  [[ accuracy['day_'+num+'_total']  ]] )
                                                                  </div>

                                                                  <div class="alert" ng-class="alertClass([[ accuracy ]], 'day_'+num+'_percentage_reversal', 'day_'+num+'_total')" style="margin:0; padding:5px">
                                                                    <div ng-if="accuracy['day_'+num+'_percentage_reversal'] != null">
                                                                           [[  ( accuracy['day_'+num+'_percentage_reversal']).toFixed(2)  ]]%
                                                                    </div>
                                                                    <br />
                                                                    ( [[ accuracy['day_' + num + '_num_reversal'] ]]  /  [[ accuracy['day_' + num + '_total']  ]] )
                                                                  </div>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </ul>
                                  </td>
                              </tr>
                            </table>

                            <a href="#" class="btn btn-default" ng-model="collapsed" ng-click="collapsed[symbol]=!collapsed[symbol]">View/Hide all patterns &raquo;</a>
                            <div ng-show="collapsed[symbol]">

                              <table class="table table-condensed" style="font-size: 10px;" ng-if="pattern_data[ symbol ] ">
                                    <tr>
                                      <th>Pattern</th>
                                      <th>Legend</th>
                                      <th ng-repeat="num in pattern_data[ symbol ]['ANALYZE_RANGE'] ">Day [[  num  ]]</th>
                                    </tr>

                                    <tr ng-repeat="(pattern_name, accuracies) in pattern_data[ symbol ]['historical_accuracy']" >
                                        <td>[[ pattern_name ]] </td>
                                        <td>
                                            <div class="alert" style="margin:0; padding:5px; height: 60px"><i class="fa fa-arrow-up fa-lg"></i><br /></div>
                                            <div class="alert" style="margin:0; padding:5px; height: 60px"><i class="fa fa-mail-reply fa-lg"></i><br /></div>
                                        </td>
                                        <td ng-repeat="num in pattern_data[ symbol ]['ANALYZE_RANGE']"
                                               style="white-space:nowrap;" >
                                            <div class="alert" ng-class="alertClass([[ accuracies ]], 'day_'+num+'_percentage_up', 'day_'+num+'_total')" style="margin:0; padding:5px">
                                              <div ng-if="accuracies['day_'+num+'_percentage_up'] != null">
                                                  [[  ( accuracies['day_'+num+'_percentage_up']).toFixed(2)  ]]%
                                              </div>
                                              <br />
                                              ( [[ accuracies['day_'+num+'_num_up'] ]]  /  [[  accuracies['day_'+num+'_total']  ]] )
                                            </div>

                                            <div class="alert" ng-class="alertClass([[ accuracies ]], 'day_'+num+'_percentage_reversal', 'day_'+num+'_total')" style="margin:0; padding:5px">
                                              <div ng-if="accuracies['day_'+num+'_percentage_reversal'] != null">
                                                     [[  ( accuracies['day_'+num+'_percentage_reversal']).toFixed(2)  ]]%
                                              </div>
                                              <br />
                                              ( [[ accuracies['day_' + num + '_num_reversal'] ]]  /  [[  accuracies['day_' + num + '_total']  ]] )
                                            </div>
                                         </td>
                                    </tr>
                              </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>

    <div class="row" style="height: 300px;"></div>

</body>

</html>
