<html>
<head>

  <link href="static/main.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.1.1/js/bootstrap.min.js"></script>


  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js" type="text/javascript"></script>
  <![endif]-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-touch.min.js"></script>
  <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

  <script type="text/javascript" src="static/js/jquery.bsAlerts.min.js"></script>

  <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="static/js/main.js" type="text/javascript"></script>


</head>


<body ng-app="StocksApp">

    <div class="container" ng-controller="SymbolController">

        <h4 align="center"> </h4>
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-header">Symbol Analyzer - Testing historical reliablity of candle stick patterns to predict future market trends. </h3>
                <form class="well form-inline" >
                    <input type="text" id="symbolsearch" class="input-" placeholder="Enter company name or symbol" ng-keyup="$event.keyCode == 13 ? add_symbol() : null">
                    <span class="help-inline hide"><i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> loading...</span>
                    <span class="help-inline hide label label-info"></span>
                    <span class="btn" ng-click="add_symbol()"><i class="fa fa-plus-circle"></i></span>

                    <br />

                    <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>

                </form>
            </div>
        </div>


        <div class="row">

            <div ng-repeat="stock in portfolio" ng-init="symbol = stock['symbol'] ">

                <div class="well col-md-12" id="[[ stock['symbol'] ]]" style="padding-right: 10px">
                  <button type="button" class="close" aria-label="Close" ng-click="remove_symbol(  [[ stock['symbol'] ]]  )">
                        <span aria-hidden="true">&times;</span>
                  </button>

                  <div class="row">
                      <div class="col-md-3">
                          <h3> <strong>[[ stock['symbol'] ]]  -  $[[ stock['bid'] ]] </strong> </h3>
                          <br />
                          <table class="table table-stripped table-bordered table-condensed" style="font-size: 10px;">
                              <tr>
                                  <td>52 week high:  [[ stock['52 week high']  ]]</td>
                                  <td>Revenue: [[  stock['revenue']   ]] </td>
                              </tr>
                              <tr>
                                  <td>52 week low:  [[ stock['52 week low']  ]]</td>
                                  <td>Volume:  [[  stock['volume']  ]] </td>
                              </tr>
                              <tr>
                                  <td>50 day moving average: [[ stock['50 day moving average']  ]] </td>
                                  <td>Dividend Yield:  [[ stock['dividend yield']  ]] </td>
                              </tr>
                              <tr>
                                  <td>200 day moving average: [[ stock['200 day moving average']  ]] </td>
                                  <td>EBITDA: [[ stock['ebitda'] ]]</td>
                              </tr>
                              <tr>
                                  <td>Ask (realtime): [[ stock['ask (realtime)']  ]]</td>
                                  <td>Bid (realtime): [[  stock['bid (realtime)']  ]]</td>
                              </tr>
                              <tr>
                                  <td>Ask: [[ stock['ask']  ]]</td>
                                  <td>Bid: [[  stock['bid']  ]]</td>
                              </tr>
                          </table>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                          <div class="[[ stock['symbol'] ]]_loader" align="center">
                            <br />
                            <i class="fa fa-refresh fa-spin fa-5x"></i> Loading chart
                          </div>
                          <div id="[[ stock['symbol'] ]]_chart" style="height: 300px; width: 100%;"></div>
                      </div>
                  </div>

                  <div class="row stocks">
                        <br />
                        <div class="[[ stock['symbol'] ]]_loader">
                            <br /> <i  class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> Loading patterns
                        </div>

                        <div class="col-md-12">

                            <table class="table table-bordered table-condensed" style="font-size: 10px;" ng-if="pattern_data[ stock['symbol'] ] ">
                                <tr>
                                   <th style="white-space:nowrap;" ng-repeat="data in  pattern_data[ stock['symbol'] ] ['candle_history']">
                                          [[ data['Date'] ]]
                                    </th>
                                </tr>

                              <tr>
                                  <td ng-repeat=" data in pattern_data[ stock['symbol'] ] ['candle_history'] ">
                                        <strong style="white-space:nowrap;">( $[[ data['close'].toFixed(2) ]] )</strong>
                                        <ul ng-repeat="pattern in data['patterns'].split(',') " style="margin:0;padding:0" >
                                            <li>[[ pattern ]] -  [[ pattern_data[symbol]['candle_patterns'] [pattern]['formula'] ]]</li>
                                        </ul>


                                        <ul ng-repeat="pattern in data['patterns'].split(',')" style="margin:0;padding:0" >

                                            <li popover rel="popover" data-toggle="popover" data-trigger="hover"  data-html="true"
                                                ng-attr-id="[[ (symbol + data['Date'] + pattern).split(' ').join('').split('-').join('') ]]" 
                                                data-content="Original content"
                                                data-original-title="Original title">[[ pattern ]]</li>

                                            <div class="popover" ng-attr-id="[[ (symbol + data['Date'] + pattern + '_popover').split(' ').join('').split('-').join('') ]]" role="tooltip">
                                                <div class="arrow"></div>
                                                <div class="popover-inner">
                                                    <h3 class="popover-title">[[ pattern ]]</h3>
                                                    <div class="popover-content">
                                                        <span>Formula:  [[  pattern_data[symbol]['candle_patterns'][pattern]['formula']   ]]</span>
                                                        <table class="table table-condensed" style="font-size: 10px;">
                                                            <tr>
                                                                <th>Legend</th>
                                                                <th ng-repeat="num in pattern_data[ stock['symbol'] ]['ANALYZE_RANGE'] ">[[  num  ]]</th>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="alert" style="margin:0; padding:5px; height: 40px"><i class="fa fa-arrow-up fa-lg"></i><br /></div>
                                                                    <div class="alert" style="margin:0; padding:5px; height: 40px"><i class="fa fa-mail-reply fa-lg"></i><br /></div>
                                                                </td>
                                                                <td ng-repeat="num in pattern_data[ symbol ]['ANALYZE_RANGE']" style="white-space:nowrap;" >
                                                                   <div class="alert"  style="margin:0; padding:5px">

                                                                    <div ng-if="accuracies[pattern]['day_'+num+'_percentage_up'] != null">
                                                                        [[  ( accuracies[pattern]['day_'+num+'_percentage_up']).toFixed(2)  ]]%
                                                                    </div>
                                                                    <br />
                                                                    ( [[ accuracies[pattern]['day_'+num+'_num_up'] ]]  /  [[  accuracies[pattern]['day_'+num+'_total']  ]] )
                                                                  </div>

                                                                  <div class="alert" style="margin:0; padding:5px">
                                                                    <div ng-if="accuracies['day_'+num+'_percentage_reversal'] != null">
                                                                           [[  ( accuracies[pattern]['day_'+num+'_percentage_reversal']).toFixed(2)  ]]%
                                                                    </div>
                                                                    <br />
                                                                    ( [[ accuracies[pattern]['day_' + num + '_num_reversal'] ]]  /  [[  accuracies[pattern]['day_' + num + '_total']  ]] )
                                                                  </div>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </ul>
                                  </td>
                              </tr>
                            </table>

                            <table class="table table-condensed" style="font-size: 10px;" ng-if="pattern_data[ stock['symbol'] ] ">
                                  <tr>
                                    <th>Pattern</th>
                                    <th>Legend</th>
                                    <th ng-repeat="num in pattern_data[ stock['symbol'] ]['ANALYZE_RANGE'] ">Day [[  num  ]]</th>
                                  </tr>

                                  <tr ng-repeat="(pattern_name, accuracies) in pattern_data[ symbol ]['historical_accuracy']" >
                                      <td>[[ pattern_name ]] </td>
                                      <td>
                                           <div class="alert" style="margin:0; padding:5px; height: 40px"><i class="fa fa-arrow-up fa-lg"></i><br /></div>
                                          <div class="alert" style="margin:0; padding:5px; height: 40px"><i class="fa fa-mail-reply fa-lg"></i><br /></div>
                                      </td>
                                      <td ng-repeat="num in pattern_data[ stock['symbol'] ]['ANALYZE_RANGE']"
                                             style="white-space:nowrap;" >
                                          <div class="alert" ng-class="alertClass([[ accuracies ]], 'day_'+num+'_percentage_up', 'day_'+num+'_total')" style="margin:0; padding:5px">
                                            <div ng-if="accuracies['day_'+num+'_percentage_up'] != null">
                                                [[  ( accuracies['day_'+num+'_percentage_up']).toFixed(2)  ]]%
                                            </div>
                                            <br />
                                            ( [[ accuracies['day_'+num+'_num_up'] ]]  /  [[  accuracies['day_'+num+'_total']  ]] )
                                          </div>

                                          <div class="alert" ng-class="alertClass([[ accuracies ]], 'day_'+num+'_percentage_reversal', 'day_'+num+'_total')" style="margin:0; padding:5px">
                                            <div ng-if="accuracies['day_'+num+'_percentage_reversal'] != null">
                                                   [[  ( accuracies['day_'+num+'_percentage_reversal']).toFixed(2)  ]]%
                                            </div>
                                            <br />
                                            ( [[ accuracies['day_' + num + '_num_reversal'] ]]  /  [[  accuracies['day_' + num + '_total']  ]] )
                                          </div>

                                       </td>
                                  </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>

</body>

</html>
